@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

body {
  background: #0e0e0e;
  /* background-image: radial-gradient(hsl(0, 0%, 16.08%, 1.00) 5%, transparent 0);
  background-size: 30px 30px; */
  font-family: 'DM Sans', sans-serif;
  cursor: context-menu;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* H1 */
.h1 {
  @apply text-[48px] leading-[120%] tracking-[2%] font-bold text-neutral-50;
}

/* H2 */
.h2 {
  @apply text-[40px] leading-[130%] tracking-[1.5%] font-semibold text-neutral-100;
}

/* H3 */
.h3 {
  @apply text-[32px] leading-[130%] tracking-[1%] font-semibold text-neutral-200;
}

/* H4 */
.h4 {
  @apply text-[28px] leading-[140%] tracking-[1%] font-semibold text-neutral-300 hover:text-neutral-200 transition delay-75;
}

/* H5 */
.h5 {
  @apply text-[24px] leading-[150%] tracking-[0.5%] font-medium text-neutral-300 hover:text-neutral-200 transition delay-75;
}

/* H6 */
.h6 {
  @apply text-[20px] leading-[150%] tracking-[0%] font-normal text-neutral-300 hover:text-neutral-200 transition delay-75;
}

/* H6 Navbar */
.h6-nav {
  font-family: jost;
  @apply text-[20px] leading-[150%] tracking-[0%] font-normal text-neutral-300 hover:text-neutral-200 transition delay-75;
}

/* H6 Title */
.h6-title {
  @apply text-[20px] leading-[150%] tracking-[0%] font-normal transition delay-75;
}

/* Paragraph - 1 */
.p1 {
  @apply text-[18px] leading-[160%] tracking-[0%] font-normal text-neutral-300 hover:text-neutral-200 transition delay-75;
}

/* Paragraph - 2 */
.p2 {
  @apply text-[16px] leading-[140%] tracking-[0.5%] font-normal text-neutral-400 hover:text-neutral-300 transition delay-75;
}

/* Paragraph - 2 nav */
.p2-nav {
  @apply text-[16px] leading-[140%] tracking-[0.5%] font-normal transition delay-75;
}

/* For techonologies text */
.p2-txt {
  @apply text-[16px] leading-[140%] tracking-[0.5%] font-normal transition delay-75 text-neutral-800;
}

/* Paragraph - 3 */
.p3 {
  @apply text-[14px] leading-[140%] tracking-[0.5%] font-light text-neutral-500 hover:text-neutral-400 transition delay-75;
}

/* Primary Button */
.btn-primary {
  @apply text-[18px] leading-[150%] tracking-[2%] font-normal;
}

/* Secondary Button */
.btn-secondary {
  @apply text-[16px] leading-[150%] tracking-[1.5%] font-medium;
}

@media (max-width: 768px) {
.h1 {
    @apply text-[36px] leading-[120%] tracking-[2%] font-bold text-neutral-50;
  }

.h2 {
    @apply text-[32px] leading-[130%] tracking-[1.5%] font-semibold text-neutral-100;
  }

.h3 {
    @apply text-[28px] leading-[130%] tracking-[1%] font-semibold text-neutral-200;
  }

.h4 {
    @apply text-[24px] leading-[140%] tracking-[1%] font-semibold text-neutral-300 hover:text-neutral-200 transition delay-75;
  }

.h5 {
    @apply text-[20px] leading-[150%] tracking-[0.5%] font-medium text-neutral-300 hover:text-neutral-200 transition delay-75;
  }

.h6 {
    @apply text-[18px] leading-[150%] tracking-[0%] font-normal text-neutral-300 hover:text-neutral-200 transition delay-75;
  }

.h6-nav {
    @apply text-[18px] leading-[150%] tracking-[0%] font-normal text-neutral-300 hover:text-neutral-200 transition delay-75;
  }

.h6-title {
    @apply text-[18px] leading-[150%] tracking-[0%] font-normal transition delay-75;
  }

.p1 {
    @apply text-[16px] leading-[160%] tracking-[0%] font-normal text-neutral-300 hover:text-neutral-200 transition delay-75;
  }

.p2 {
    @apply text-[14px] leading-[140%] tracking-[0.5%] font-normal text-neutral-400 hover:text-neutral-300 transition delay-75;
  }

.p2-nav {
    @apply text-[16px] leading-[140%] tracking-[0.5%] font-normal transition delay-75;
  }

.p2-txt {
    @apply text-[16px] leading-[140%] tracking-[0.5%] font-normal transition delay-75 text-neutral-800;
  }

.p3 {
    @apply text-[12px] leading-[140%] tracking-[0.5%] font-light text-neutral-500 hover:text-neutral-400 transition delay-75;
  }

.btn-primary {
    @apply text-[16px] leading-[150%] tracking-[2%] font-normal;
  }

.btn-secondary {
    @apply text-[14px] leading-[150%] tracking-[1.5%] font-medium;
  }
}

@media (max-width: 480px) {
  .h1 {
    @apply text-[28px] leading-[120%] tracking-[2%] font-bold text-neutral-50;
  }

  .h2 {
    @apply text-[24px] leading-[130%] tracking-[1.5%] font-semibold text-neutral-100;
  }

  .h3 {
    @apply text-[20px] leading-[130%] tracking-[1%] font-semibold text-neutral-200;
  }

  .h4 {
    @apply text-[18px] leading-[140%] tracking-[1%] font-semibold text-neutral-300 hover:text-neutral-200 transition delay-75;
  }

  .h5 {
    @apply text-[16px] leading-[150%] tracking-[0.5%] font-medium text-neutral-300 hover:text-neutral-200 transition delay-75;
  }

  .h6 {
    @apply text-[14px] leading-[150%] tracking-[0%] font-normal text-neutral-300 hover:text-neutral-200 transition delay-75;
  }

  .h6-nav {
    @apply text-[18px] leading-[150%] tracking-[0%] font-normal text-neutral-300 hover:text-neutral-200 transition delay-75;
  }

  .h6-title {
    @apply text-[14px] leading-[150%] tracking-[0%] font-normal transition delay-75;
  }

  .p1 {
    @apply text-[14px] leading-[160%] tracking-[0%] font-normal text-neutral-300 hover:text-neutral-200 transition delay-75;
  }

  .p2 {
    @apply text-[12px] leading-[140%] tracking-[0.5%] font-normal transition delay-75;
  }

  .p2-nav {
    @apply text-[16px] leading-[140%] tracking-[0.5%] font-normal transition delay-75;
  }

  .p2-txt {
    @apply text-[16px] leading-[140%] tracking-[0.5%] font-normal transition delay-75 text-neutral-800;
  }

  .p3 {
    @apply text-[10px] leading-[140%] tracking-[0.5%] font-light text-neutral-500 hover:text-neutral-400 transition delay-75;
  }

  .btn-primary {
    @apply text-[14px] leading-[150%] tracking-[2%] font-normal;
  }

  .btn-secondary {
    @apply text-[12px] leading-[150%] tracking-[1.5%] font-medium;
  }
}

.blue-gradient {
  @apply bg-gradient-to-r from-[#b3ede4] to-[#004433] bg-clip-text text-transparent hover:from-[#e0f9f3] hover:to-[#006d66];
}

.btn-shadow {
  @apply shadow-[0_4px_8px_rgba(174,174,173,0.08)] hover:shadow-[0_4px_12px_rgba(174,174,173,0.2)]
}

/* @theme {
  --shadow-3xl: 0 4px 24px rgba(0, 0, 0, 0.25); 
} */

.title-bg {
  font-size: 11vw;
  text-align: center;
  white-space: nowrap;
  color: #7b7b7b;
  opacity: 0.06;
  font-weight: 800;
  letter-spacing: -4px;
  line-height: 100%;
  font-family: "Commissioner", sans-serif;
}

@media (min-width: 1560px) {
  .title-bg {
    font-size: 180px;
  }
}

.box-border {
  border: 0.3px solid;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}

.box:hover {
  border: 0.3px solid;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 240deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: -90deg;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0deg;
  inherits: true;
}

:root {
  --d: 6000ms;
  --angle: -90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: #00594d;
  --c2: #0c0c0c00;
}

.box-jump {
  position: relative;
  animation: moveRight 6s ease-in-out infinite;
}

@keyframes moveRight {
  0% {
    background: #22222240;
    top: 0;
  }
  10% {
    background: #2222221d;
    top: -2px;
  }
  20%{
    background: #22222240;
    top: 0;
  }
  100% {
    background: #22222240;
    top: 0;
  }
}

@media (max-width: 1024px) {
  .dot-bg:before {
    --size: 64px;
    --line: #45454552;
    content: '';
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 40%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -50;
  }
}

@media (max-width: 640px) {
  .dot-bg:before {
    --size: 48px;
    mask: linear-gradient(-20deg, transparent 20%, white);
  }
}

/* The bellow style is applied to many sections */

@media (min-width: 640px) {
  .slide-in-animation {
    position: relative;
    animation: slide-up 1s ease-in;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    top: 8vh;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

/* Styles for navbar section */

.nav-slide-up {
  animation: nav-slide-up 0.4s ease-in;
}

@keyframes nav-slide-up {
  0% {
    opacity: 0;
    top: -12px;
    z-index: -10;
  }
  80% {
    opacity: 0.25;
    z-index: 0;
  }
  100% {
    opacity: 1;
    top: 24px;
    z-index: 40;
  }
}


/* Style for hero section text */

.visibility-inc {
  animation: visibility-inc 2s ease-in;
}

@keyframes visibility-inc {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* @media (max-width: 640px) { */
  .hero-bg {
    /* bg-[url(https://i.pinimg.com/736x/08/04/60/0804605bcfafec586fdda2766e4d138f.jpg)] */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: hidden;
    opacity: 0.1;
  }
/* } */

/* Styles for technologies */

.timeline {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  position: relative;
  max-width: 1024px;
}
.timeline__event {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  margin: 20px 0;
  border-radius: 6px;
  align-self: center;
}
.timeline__event:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.timeline__event:nth-child(2n + 1) .timeline__event__date {
  border-radius: 0 6px 6px 0;
}
.timeline__event:nth-child(2n + 1) .timeline__event__content {
  border-radius: 6px 0 0 6px;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #c7c7c7;
  position: absolute;
  top: 0%;
  left: 50%;
  right: auto;
  z-index: -1;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 0.6s ease-in-out;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #c7c7c7;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  animation: fillLeft 2s forwards 0.6s ease-in-out;
}
.timeline__event__content {
  padding: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
              0 18px 36px -18px rgba(0, 0, 0, 0.3),
              0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  background: #c7c7c7;
  width: calc(40vw - 84px);
  border-radius: 0 6px 6px 0;
}
.timeline__event__date {
  color: #c7c7c7;
  font-size: 1.5rem;
  font-weight: 600;
  background: #683f99;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  border-radius: 6px 0 0 6px;
}
.timeline__event__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 20px;
  background: #c7c7c7;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
              0 18px 36px -18px rgba(0, 0, 0, 0.3),
              0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  position: relative;
}
.timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #c7c7c7;
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 0.6s ease-in-out;
}
.timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #c7c7c7;
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  animation: fillLeftOdd 2s forwards 0.6s ease-in-out;
}
.timeline__event__description {
  flex-basis: 60%;
}
.timeline__event--type2:after {
  background: #006ded;
}
.timeline__event--type2 .timeline__event__date {
  color: #c7c7c7;
  background: #006ded;
}
.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before,
.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
  background: #c7c7c7;
}
.timeline__event--type2 .timeline__event__icon {
  background: #c7c7c7;
  color: #006ded;
}
.timeline__event--type2 .timeline__event__icon:before,
.timeline__event--type2 .timeline__event__icon:after {
  background: #c7c7c7;
}
.timeline__event--type2 .timeline__event__title {
  color: #006ded;
}
.timeline__event--type3:after {
  background: #00b199;
}
.timeline__event--type3 .timeline__event__date {
  color: #c7c7c7;
  background-color: #00b199;
}
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before,
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
  background: #c7c7c7;
}
.timeline__event--type3 .timeline__event__icon {
  background: #c7c7c7;
  color: #00b199;
}
.timeline__event--type3 .timeline__event__icon:before,
.timeline__event--type3 .timeline__event__icon:after {
  background: #c7c7c7;
}
.timeline__event--type3 .timeline__event__title {
  color: #00b199;
}
.timeline__event:last-child .timeline__event__icon:before {
  content: none;
}
@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event__content {
    width: 100%;
  }
  .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .timeline__event__icon:before,
  .timeline__event__icon:after {
    display: none;
  }
  .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n + 1) {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    margin: 0;
  }
}
@keyframes fillLeft {
  100% {
    right: 100%;
  }
}
@keyframes fillTop {
  100% {
    top: 100%;
  }
}
@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}
